@model IEnumerable<MiniHospitalProject.Models.DoctorDaysModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Doctor Days</h1>

<p>
    <a asp-action="Create">Create Doctor Days</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isavailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isavailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorLastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
